<img
  class="brand-mark-img"
  src="/assets/images/jelly-logo-color.png"
  width="180"
  height="180"
  alt=""
  decoding="async">
<span class="brand-name">mesh<span>llm</span></span>
{% if showBrandVersion %}
<span class="brand-version" data-github-release data-current-version-label aria-label="Current version {{ site.githubReleaseFallback }}">{{ site.githubReleaseFallback }}</span>
{% endif %}
